{% extends "base.html" %}
{% block content %}

<h1>Vaihdossa olevat tavarat</h1>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Tavara</th>
            <th>Käyttäjä</th>
            <th>Vaihtokohteet</th>
        </tr>
    </thead>
    <tbody>
      <!-- Listataan tavarat taulusta k-tavara -->
      <tr>
        <td><a href="#">Tavara taulusta k-tavara</a></td>
        <td>käyttäjänTunnus</td>
        <td>Vaihtoehdotus(jos on)</td>
      </tr>
    </tbody>
</table>
{% endblock %}