{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<h1>Omat tavarat</h1>

{% if(viesti != null) %}
<div class="alert alert-success">
    {{viesti}}
</div>
{% endif %}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Kunto</th>
            <th>Vaihtokohde</th>
            <th>Tila</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for tavara in tavarat %}


        <tr>
            <td><a href="{{base_path}}/tavarat/{{tavara.id}}">{{tavara.nimi}}</a></td>
            <td>{{tavara.kunto}}</td>
            <td>{{tavara.vaihtokohde_nimi}}</td>
            {% if tavara.lukittu == TRUE %}
            <td><label class="label label-danger">lukittu</label></td>
            {% else %}
            <td><label class="label label-default">vapaana</label></td>
            {% endif %}
            <td><label></label></td>
            <td> {{forms.destroy_button("#{base_path}/tavarat/#{tavara.id}/destroy")}} </td>
        </tr>
        {% endfor %}

    </tbody>
</table>

<h3>Lisää tavara</h3>
<table>
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Kunto</th>
            <th>Vaihtokohde</th>
            <th></th>
        </tr>
    </thead>


    <form method="post" action="{{base_path}}/tavarat/omatTavarat.html">
        <input type="hidden" name="kayttaja_id" value="{{user_logged_in.id}}"></input>
        <tbody>
            <tr>
                <td> <select name="tavara">
                        {% for ideaali in ideaalit %}
                        <option value="{{ideaali.id}}">
                            {{ideaali.nimi}}
                        </option>
                        {% endfor %}
                    </select>
                </td>
                <td> <select name="kunto">
                        <option value="hyva">hyvä</option>
                        <option value="kohtalainen">kohtalainen</option>
                        <option value="huono">huono</option>
                    </select>
                </td>
                <td> <select name="kohde">
                        <option></option>
                        {% for ideaali in ideaalit %}
                        <option value="{{ideaali.id}}">
                            {{ideaali.nimi}}
                        </option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <button type="submit" class="btn btn-default">Lisää tavara</button>
                </td>
            </tr>
        </tbody>
    </form>

</table>


{% endblock %}