{% extends "base.html" %}

{% block content %}

<h2>Harjoitustyön päätös. Kun käyttäjä hyväksyy tarjouksen voisi tapahtua seuraavia asioita...</h2>
<h4>Molemmat käyttäjät saavat viestin sähköpostiin</h4>
<h4>Heille tallentuu vaihtohistoria tietokantaan</h4>
<h4>Molemmat käyttäjät saavat toistensa yhteystiedot</h4>
<h4>jne... paljon vaihtoehtoja</h4>

<h3>Päätän tähän kuitekin työn, koska varsinainen harjoitustyö on tullut laajuudeltaan jo varmasti katettua.</h3>
<h3>Kiitokset ohjaajalle ohjauksesta ja muille kurssilaisille yhteistyöstä.</h3>




{% endblock %}
