{% extends "base.html" %}
{% block content %}

<h1>Vaihdossa olevat tavarat</h1>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Tavara</th>
            <th>Omistaja</th>
            <th>Vaihtokohde</th>
        </tr>
    </thead>
    <tbody>
      <!-- Listataan tavarat taulusta k-tavara -->
      {% for tavara in tavarat %}
      {% if tavara.lukittu == FALSE %}
      <!--boolean lisätty testidataan. Ei kuitenkaan näy lukittu = true?-->
      <tr>
        <td><a href="{{base_path}}/tavarat/{{tavara.id}}">{{tavara.nimi}}</a></td>
        <td>{{tavara.kayttaja_id}}</td>
        {% if tavara.vaihtokohde==null %}
        <td>ei määritettyä kohdetta</td
        {% else %}
        <td>{{tavara.vaihtokohde_id}}</td>
        {% endif %}
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
</table>
{% endblock %}