{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<h1>{{tavara.nimi}}</h1>


<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Kunto</th>
            <th>Omistaja</th>
            <th>Vaihtokohde</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{tavara.nimi}}</td>
            <td>{{tavara.kunto}}</td>
            <td>{{tavara.k_nimi}}</td>
            {% if tavara.vaihtokohde==null %}
            <td>ei määritettyä kohdetta</td>
            {% else %}
            <td>{{tavara.kohde_nimi}}</td>
            {% endif %}

            {% if tavara.lukittu == TRUE %}
            <td><label class="label label-danger">lukittu</label></td>
            <td><a class="btn btn-default btn-sm" href="#">Poista lukitus</a></td>

            {% else %}
            <td><label class="label label-default">vapaana</label></td>
            {% endif %}
            <td> {{forms.destroy_button("#{base_path}/tavarat/#{tavara.id}/destroy")}} </td>

        </tr>
    </tbody>
</table>



{% endblock %}